
<div style="margin:auto;margin-top:20px; width:250px ;border:1px solid">
    <div style="float:left;">
        <!--<img style="float:left; height:230px; width:150px" src="/public/imagenes/horario_big_9_a_19.png" alt="imagen"><br />
    --> <button style="width:150px" class="btn btn-primary">Comprar <strong>{{precio}} €</strong></button>
    </div>
    <div style="text-align:center">
        <div>
            <a>
                {{titulo}}
            </a>
        </div>
        <div>{{autor}}</div>
        <div>{{paginas}} páginas</div>
    </div>
</div>