{{!-- 
    vista que debe pintar un array de objetos tipo Libro que se recupera de la base de datos de mongodb y 
    se los pasa express al view-engine de handlebars para que los pinte en esta vista.
 --}}

<div class="container">
    {{#each listaLibros as |libro|}}
        <div class="row">
            <div class="col">
                {{>VistaMiniLibro libro}}
            </div>
        </div>
    {{else}}
        <p class="empty">No hay libros que mostrar</p>
    {{/each}}
</div>

