<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vista del pedido</title>
</head>
<body>
    {{!-- Tengo que hacer todo la página --}}
    {{!-- el modelo es un objeto de tipo pedido que se pasa con el nombre de "vistapedido" --}}
    <h1>vista del Pedido</h1>
    
    {{#each pedido.listaLibros as |unlibro|}}
        {{>miniLibroCarrito unlibro}}
    {{/each}}

    <a href="/Tienda/Libros/5"><h1>Volver al index</h1></a>
</body>
</html>